body {
  background-color: #fafafa;
}

html, body, #root {
  height: 100%;
}

.landing {
  color: #555;
  text-align: center;
  max-width: 250px;
  overflow: hidden;
}

.hil {
  color: #555;
  text-align: center;
  padding-top: 20px;
  line-height: 1.3em;
  max-width: 250px;
  overflow: hidden;
}

.hil a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}