.form {
	border: 1px solid rgba(10, 172, 142, 1);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: white;
	margin-top: 15px;
}

/*.form:focus {
	box-shadow: inset 0 0 4px #eff0f1, 0 0 5px rgba(10, 172, 142, 0.5);
}*/

.form .wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
}

.form input {
	flex: 1;
	border: 0;
	background-color: transparent;
	height: 85%;
	padding: 2px 2px 2px 12px;
	outline: none;
}

.form button {
	border: 0;
	background-color: transparent;
	height: 100%;
	cursor: pointer;
	outline: none;
}