.tweet-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tweet {
	background: white;
	max-width: 500px;
	width: 80vw;
	margin: 10px auto;
	padding: 20px;
	border-radius: 6px;
	border: 1px solid #e1e8ed;
}

.tweet-header {
	display: flex;
	height: 48px;
	margin-bottom: 15px;
	align-items: center;
}

.tweet-account {
	flex: 1;
}

.tweet-fullname {
	font-size: 18px;
	line-height: 1.25;
	font-weight: bold;
	color: #292f33;
	display: block;
}

.tweet-username {
	font-size: 14px;
	color: #8899a6;
	line-height: 18px;
}

.tweet-text {
	color: #292f33;
	font-size: 20px;
	white-space: normal;
	word-wrap: break-word;
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
}

.tweet-avatar {
	width: 48px;
	height: 48px;
	border-radius: 5px;
	margin-right: 10px;
}

.tweet-button {
	display: inline-block;
	padding: 5.5px 13px 6.5px 11.5px;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	color: rgba(10, 172, 142, 1);
	background-color: #fff;
	border: 1px solid rgba(10, 172, 142, 1);
	border-radius: 4px;
	height: 17px;
	cursor: pointer;
}

.icon {
	color: rgba(10, 172, 142, 1);
	display: inline-block;
	height: 1.25em;
	background-repeat: no-repeat;
	background-size: contain;
	vertical-align: text-bottom;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	width: 1.25em;
}

.tweet-button:hover {
	color: #fff;
	text-decoration: none;
	background-color: rgba(10, 172, 142, 1);
}